<div class="register-box">
    <div class="register-box-body">
        <div class="login-logo">
          <a href="http://www.confitec.com.br/" target="_blank">
            <img src="../../../assets/img/logo.png" alt="Confitec" />
          </a>
        </div>

        <form [formGroup]="_resourceForm" (ngSubmit)="salvar()">
            <!-- Nome -->
            <div class="form-group has-feedback">
                <input type="text" id="Nome" class="form-control" formControlName="Nome" placeholder="Nome" placeholder="Nome"
                    maxlength="60">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="text-danger" *ngIf="_messageValidator.Nome">
                    <p [innerHTML]="_messageValidator.Nome"></p>
                </span>
            </div>

            <!-- Sobrenome -->
            <div class="form-group has-feedback">
              <input id="Sobrenome" class="form-control" formControlName="Sobrenome" maxlength="60" placeholder="Sobrenome">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
              <span class="text-danger" *ngIf="_messageValidator.Sobrenome">
                <p [innerHTML]="_messageValidator.Sobrenome"></p>
              </span>
            </div>

            <!-- Email -->
            <div class="form-group has-feedback">
                <input type="email" id="Email" class="form-control" formControlName="Email" placeholder="Email"
                    maxlength="100">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span class="text-danger" *ngIf="_messageValidator.Email">
                    <p [innerHTML]="_messageValidator.Email"></p>
                </span>
            </div>

            <!-- Nascimento -->
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="Nascimento" class="form-control" datePtBr placeholder="Data de nascimento"
                     [matDatepicker]="Nascimento" maxlength="10" formControlName="DataNascimento" />
              <span class="input-group-addon" (click)="Nascimento.open()">
                <!-- <i class="fa fa-calendar"></i> -->
                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
              </span>
              <mat-datepicker #Nascimento></mat-datepicker>

            </div>
            <span class="text-danger" *ngIf="_messageValidator.DataNascimento">
              <p [innerHTML]="_messageValidator.DataNascimento"></p>
            </span>
          </div>

          <!-- Escolaridade -->
          <div class="form-group">
            <select id="Escolaridade" formControlName="Escolaridade" class="form-control">
              <option [value]=null>--Escolha uma escolaridade--</option>
              <option *ngFor="let escolaridade of _escoladidades" [value]="escolaridade.Id">{{escolaridade.Descricao}}
              </option>
            </select>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="text-danger" *ngIf="_messageValidator.Escolaridade">
              <p [innerHTML]="_messageValidator.Escolaridade"></p>
            </span>
          </div>

            <!-- Senha -->
            <div class="form-group has-feedback">
                <input type="password" id="Senha" class="form-control" formControlName="Senha"
                    placeholder="Senha" maxlength="10">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="text-danger" *ngIf="_messageValidator.Senha">
                    <p [innerHTML]="_messageValidator.Senha"></p>
                </span>
            </div>

            <!-- ConfirmacaoSenha -->
            <div class="form-group has-feedback">
                <input type="password" id="ConfirmacaoSenha" class="form-control" formControlName="ConfirmacaoSenha"
                    placeholder="Repita a senha" maxlength="10">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span class="text-danger" *ngIf="_messageValidator.ConfirmacaoSenha">
                    <p [innerHTML]="_messageValidator.ConfirmacaoSenha"></p>
                </span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a [routerLink]="['/login']" class="btn btn-primary btn-flat pull-left">Eu já tenho uma conta</a>
                    <button type="submit" id="btnRegistar" class="btn btn-primary btn-flat pull-right" [ngClass]="{'disabled': _resourceForm.invalid}">Registrar</button>
                </div>
            </div>
        </form>

    </div>
</div>
