<section class="content">
  <p class="lead">
    Sistema para cadastro de usuários
  </p>
  <p class="lead">Copyright 2020 Confitec (<a href="http://www.confitec.com.br/"
       target="_blank">http://www.confitec.com.br/</a>)</p>
</section>
