<header class="main-header">
  <nav class="navbar navbar-static-top">

    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']"><b>Home</b></a>
      <a class="navbar-brand" [routerLink]="['/usuarios']"><b>Usuários</b></a>
      <a class="navbar-brand" [routerLink]="['/sobre']"><b>Sobre</b></a>
    </div>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../../../assets/img/user.png" class="user-image" alt="User Image">
            <span class="hidden-xs">{{_usuario?.Nome}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="../../../assets/img/user.png" class="img-circle" alt="User Image">

              <p>
                {{_usuario?.Nome}}
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a [routerLink]="['/logout']" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
