<div class="container-crud-button">
  <a class="btn btn-primary" [routerLink]="['/usuarios/adicionar']">
    <i class="fa fa-plus"></i>
    Adicionar
  </a>

</div>

<div class="box box-success">
<div class="box-body table-responsive no-padding">
<table class="table table-hover">
  <tbody>
      <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Escolaridade</th>
          <th>Email</th>
          <th>Data de nascimento</th>
          <th></th>
          <th></th>
      </tr>
      <tr *ngFor="let item of _listEntity">
          <td>{{item.Nome}}</td>
          <td>{{item.Sobrenome}}</td>
          <td>{{item.EscolaridadeDescricao}}</td>
          <td>{{item.Email}}</td>
          <td>{{ item.DataNascimento | dateTimePtBr: true }}</td>

          <td>
              <a class="btn btn-link text-green" [routerLink]="['/usuarios', item.Id, 'editar']">
                  <i class="fa fa-pencil"></i>
              </a>
          </td>
          <td>
              <a class="btn btn-link text-red" (click)="deleteResource(item)">
                  <i class="fa fa-minus"></i>
              </a>
          </td>
      </tr>
  </tbody>
</table>
</div>
</div>
