<h4 class="modal-header text-center" mat-dialog-title>
  Filtro de pesquisa
</h4>

<div class="modal-body" mat-dialog-content>

  <fieldset>
    <legend>Data de cadastro</legend>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">
        <input type="text" id="DataCadastroInicio" class="form-control" datePtBr placeholder="Início"
               [matDatepicker]="DataCadastroInicio" maxlength="10" [(ngModel)]="_filter.DataCadastroInicio" />
        <span class="input-group-addon" (click)="DataCadastroInicio.open()">
          <i class="fa fa-calendar"></i>
        </span>
        <mat-datepicker #DataCadastroInicio></mat-datepicker>
      </div>
    </div>

    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">
        <input type="text" id="DataCadastroTermino" class="form-control" datePtBr placeholder="Fim"
               [matDatepicker]="DataCadastroTermino" maxlength="10" [(ngModel)]="_filter.DataCadastroTermino" />
        <span class="input-group-addon" (click)="DataCadastroTermino.open()">
          <i class="fa fa-calendar"></i>
        </span>
        <mat-datepicker #DataCadastroTermino></mat-datepicker>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Data de atualização</legend>
    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">
        <input type="text" id="dataAtualizacaoInicio" class="form-control" datePtBr placeholder="Início"
               [matDatepicker]="dataAtualizacaoInicio" maxlength="10" [(ngModel)]="_filter.DataAtualizacaoInicio" />
        <span class="input-group-addon" (click)="dataAtualizacaoInicio.open()">
          <i class="fa fa-calendar"></i>
        </span>
        <mat-datepicker #dataAtualizacaoInicio></mat-datepicker>
      </div>
    </div>

    <div class="form-group col-md-6 col-xs-12">
      <div class="input-group">
        <input type="text" id="dataAtualizacaoTermino" class="form-control" datePtBr placeholder="Fim"
               [matDatepicker]="dataAtualizacaoTermino" maxlength="10" [(ngModel)]="_filter.DataAtualizacaoTermino" />
        <span class="input-group-addon" (click)="dataAtualizacaoTermino.open()">
          <i class="fa fa-calendar"></i>
        </span>
        <mat-datepicker #dataAtualizacaoTermino></mat-datepicker>
      </div>
    </div>
  </fieldset>
  <div class="col-md-12">
    <div class="form-group">
      <label for="Descricao">Descrição</label>
      <input id="Descricao" class="form-control" type="text" tabindex="-1" [(ngModel)]="_filter.Descricao">
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <label for="CodigoExterno">Código externo</label>
      <input id="CodigoExterno" class="form-control" type="text" [(ngModel)]="_filter.CodigoExterno">
    </div>
  </div>

  <div class="col-md-12">
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="_filter.Ativo">
        Ativo
      </label>
    </div>
  </div>
</div>

<div class="modal-footer pull-right" mat-dialog-actions>
  <button class="btn btn-success" (click)="confirmar()">
    <i class="fa fa-check"></i>
    Confirmar
  </button>

  <button class="btn btn-danger" (click)="cancelar()">
    <i class="fa fa-minus-circle"></i>
    Cancelar
  </button>
</div>
