body{
  font-size: 1.7em;
  label{
    font-weight: 400;
  }

  .btn{
    font-size: 1em;
  }
}
.container-crud-button{
  margin-bottom: 4px;

  button{
    margin-right: 4px;
  }
}
.no-padding-right{
  padding-right: 0 !important;
}

.mt-2{margin-top: 2px !important;}.mt-4{margin-top: 4px !important;}.mt-6{margin-top: 6px !important;}.mt-8{margin-top: 8px !important;}.mt-10{margin-top: 10px !important;}.mt-12{margin-top: 12px !important;}
.ml-2{margin-left: 2px !important;}.ml-4{margin-left: 4px !important;}.ml-6{margin-left: 6px !important;}.ml-8{margin-left: 8px !important;}.ml-10{margin-left: 10px !important;}.ml-12{margin-left: 12px !important;}

.mb-2{
  margin-bottom: 2px !important;
}

.no-margin-right{
  margin-right: 0 !important;
}

.mr-2{
  margin-right: 2px !important;
}

.ml-4{
  margin-left: 4px !important;
}

.p-2{padding: 2px !important;}.p-4{padding: 4px !important;}.p-6{padding: 6px !important;}.p-8{padding: 8px !important;}.p-10{padding: 10px !important;}

.modal-w-40{
  width: 100%;
  @media screen and (min-width:920px){
    width: 40% !important;
  }
}

.modal-w-50{
  width: 100%;
  @media screen and (min-width:920px){
    width: 50% !important;
  }
}

.modal-w-60{
  width: 100%;
  @media screen and (min-width:920px){
    width: 60% !important;
  }
}

.modal-w-80{
  width: 100%;
  @media screen and (min-width:920px){
    width: 80% !important;
  }
}

.modal-w-90{
  width: 100%;
  @media screen and (min-width:920px){
    width: 90% !important;
  }
}

.cdk-overlay-container{
  z-index:10000;
  .cdk-overlay-pane{
    margin-top:20px !important;
    max-width: 95% !important;
  }
}

ul.nav-cadastro li.active {
  a{
    background-color: #00a65a !important;

    :active{
      background-color: #00a65a !important;
    }
  }
}

fieldset{
  border: 1px solid #ccc !important;
  legend{
    font-size: 14px !important;
    margin-bottom: 2px !important;
    border:0 !important;
    font-weight: 700 !important;
    width: auto !important;
  }
}

.radio-group-horizontal{

  input[type="radio"]:nth-child(n+2){
    margin-left: 10px !important;
  }

  label{
    vertical-align: top !important;
    margin-left: 4px;
  }
}

//não deixar com important
.group-radio{margin-top:11px}

input.input-decimal{
  text-align: right;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: 0;
}

.tab-content{
  padding-right: 0;
  .tab-pane{
    padding-right: 0;
    padding-left: 0;
  }
}

.container-hidden{
  display: none !important;
}

.container-show{
  display: block;
}

.table-data-list{
  white-space:nowrap;
}

.element-disabled, .element-disabled div, .element-disabled input, .element-disabled select{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
  cursor: not-allowed;
}
