<div class="login-box">
  <div class="login-box-body">
    <div class="login-logo">
      <a href="http://www.confitec.com.br/" target="_blank">
        <img src="../../../assets/img/logo.png" alt="Confitec" />
      </a>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="form-group has-feedback">
        <input type="email" id="Email" class="form-control" formControlName="Email" placeholder="Email"
               maxlength="80" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

        <span class="text-danger" *ngIf="form.get('Email').hasError('required')">Email requerido</span>
        <span class="text-danger" *ngIf="form.get('Email').hasError('email')">Email inválido</span>
      </div>

      <!-- Senha -->
      <div class="form-group has-feedback">
        <input type="password" id="Senha" class="form-control" formControlName="Senha" placeholder="Senha"
               maxlength="10" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="text-danger" *ngIf="form.get('Senha').hasError('required')">Senha requerida</span>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a [routerLink]="['/registrar']"
             id="btnRegistar"
             class="btn btn-primary btn-flat text-center pull-left">Registrar</a>

          <button type="submit" id="btnAcessar" class="btn btn-primary btn-flat pull-right">Acessar</button>
        </div>
      </div>
    </form>

  </div>
</div>
