<div class="wrapper">

  <app-header *ngIf="_usuarioAutenticado === true"></app-header>

  <div class="content-wrapper">
    <app-breadcrumb class="mb-2"></app-breadcrumb>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020 <a href="#">Confitec</a>.</strong> Todos os direitos reservados.
  </footer>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
