<form [formGroup]="_resourceForm">
  <div class="container-crud-button">
    <button class="btn btn-success" (click)="submitForm(_resourceForm)" [ngClass]="{'disabled': _resourceForm.invalid}">
      <i class="fa fa-check"></i>
      Salvar
    </button>

    <a class="btn btn-danger" [routerLink]="['/usuarios']">
      <i class="fa fa-close"></i>
      Cancelar
    </a>
  </div>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">{{_resourceForm.get('Nome').value ? (_resourceForm.get('Nome').value + ' '  +  _resourceForm.get('Sobrenome').value): 'Novo usuário'}}
      </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <!-- Nome -->
          <div class="form-group">
            <label for="Nome">Nome</label>
            <input id="Nome" class="form-control" formControlName="Nome" maxlength="60">
            <span class="text-danger" *ngIf="_messageValidator.Nome">
              <p [innerHTML]="_messageValidator.Nome"></p>
            </span>
          </div>

          <!-- Sobrenome -->
          <div class="form-group">
            <label for="Sobrenome">Sobrenome</label>
            <input id="Sobrenome" class="form-control" formControlName="Sobrenome" maxlength="60">
            <span class="text-danger" *ngIf="_messageValidator.Sobrenome">
              <p [innerHTML]="_messageValidator.Sobrenome"></p>
            </span>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" class="form-control" formControlName="Email" placeholder="Email"
                   maxlength="100">
            <span class="text-danger" *ngIf="_messageValidator.Email">
              <p [innerHTML]="_messageValidator.Email"></p>
            </span>
          </div>

          <!-- Nascimento -->
          <div class="form-group">
            <label for="Nascimento" class="control-label">Nascimento</label>
            <div class="input-group">
              <input type="text" id="Nascimento" class="form-control" datePtBr
                     [matDatepicker]="Nascimento" maxlength="10" formControlName="DataNascimento" />
              <span class="input-group-addon" (click)="Nascimento.open()">
                <i class="fa fa-calendar"></i>
              </span>
              <mat-datepicker #Nascimento></mat-datepicker>
            </div>
            <span class="text-danger" *ngIf="_messageValidator.DataNascimento">
              <p [innerHTML]="_messageValidator.DataNascimento"></p>
            </span>
          </div>

          <!-- Escolaridade -->
          <div class="form-group">
            <label for="Escolaridade">Escolaridade</label>
            <select id="Escolaridade" formControlName="Escolaridade" class="form-control">
              <option [value]=null>--Selecione--</option>
              <option *ngFor="let escolaridade of _escoladidades" [value]="escolaridade.Id">{{escolaridade.Descricao}}
              </option>
            </select>
            <span class="text-danger" *ngIf="_messageValidator.Escolaridade">
              <p [innerHTML]="_messageValidator.Escolaridade"></p>
            </span>
          </div>

          <!-- Senha -->
          <div class="form-group">
            <label for="Senha">Senha</label>
            <input type="password" id="Senha" class="form-control" formControlName="Senha" maxlength="10">
            <span class="text-danger" *ngIf="_messageValidator.Senha">
              <p [innerHTML]="_messageValidator.Senha"></p>
            </span>
          </div>

          <!-- ConfirmacaoSenha -->
          <div class="form-group">
            <label for="ConfirmacaoSenha">Repita a senha</label>
            <input type="password" id="ConfirmacaoSenha" class="form-control" formControlName="ConfirmacaoSenha"
                   maxlength="10">
            <span class="text-danger" *ngIf="_messageValidator.ConfirmacaoSenha">
              <p [innerHTML]="_messageValidator.ConfirmacaoSenha"></p>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
