<div class="jumbotron text-center">
  <h1>Olá!</h1>
  <p>Seja bem-vindo(a) ao sistema de cadastro de usuários da Confitec</p>
  <p><a [routerLink]="['/usuarios']" class="btn btn-primary btn-lg" href="#" role="button">Vamos começar?</a></p>
</div>
