<div class="content-wrapper">
    <section class="content-header">
    </section>

    <div class="jumbotron welcome-jumbotron">
        <h1>Oops! </h1>
        <h2>Acesso Negado</h2>
    </div>
</div>