
<div class="modal-header text-center" mat-dialog-content>
  <h2>
    Deseja realmente excluir esse registro?
  </h2>
</div>

<div class="modal-footer pull-right" mat-dialog-actions>
  <button class="btn btn-success" (click)="confirmar()">
    <i class="fa fa-check"></i>
    Sim
  </button>

  <button class="btn btn-danger" (click)="cancelar()">
    <i class="fa fa-minus-circle"></i>
    Não
  </button>
</div>
