<section class="content-header" *ngIf="_breadcrumb">
  <h1 *ngIf="_breadcrumb.parents === undefined">
    {{_breadcrumb.name}}
  </h1>
  <ol class="breadcrumb" *ngIf="_breadcrumb.parents !== undefined">
      <li *ngFor="let b of _breadcrumb.parents">
        <a routerLink="{{b.routerLink}}"><i class="fa {{b.icon ? b.icon : 'fa-tag'}}"></i> {{b.name}}</a>
      </li>
      <li class="active">{{_breadcrumb.name}}</li>
    </ol>
</section>
